.my-logo {
	display: flex;
	align-items: center;
}

.logo-image {
	max-width: 50px;
	color:  #0dcaf0;
}

.logo-image-small {
	max-width: 20px;
	color:  #0dcaf0;
}

.logo-text {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #0dcaf0;
}

.username {
	color: #0dcaf0;
	font-size: medium;
	font-style: italic;
}
